@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 1;
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: #111111;
    color: white;
}

main {
    position: relative;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
}

header ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

header ul li {
    cursor: pointer;
}

.menu-perfil {
    position: absolute;
    right: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 200px;
    cursor: pointer;
}

.menu-perfil img {
    width: 20px;
}

.esquerda {
    width: 50vw;
    height: calc(100vh - 90px);
    padding: 20px 35px;
}

.info {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    width: 400px;
    margin-top: 20px;
}

.info .classificacao {
    background-color: limegreen;
    width: 20px;
    height: 20px;
    text-align: center;
}

.info .estrelinha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .estrelinha img {
    width: 13px;
    height: 13px;
}

.logo {
    background-image: url("../imgs/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 50px;
}

.titulo {
    margin: 20px 0;
    margin: 0 0 40px 0;
}

.titulo h1 {
    font-family: "Parisienne", cursive;
    font-size: 40px;
    line-height: 30px;
    text-shadow: 4px 0px #111;
}

.btns {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    width: 400px;
}

.btns * {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    padding: 2px 8px;
    font-weight: 700;
    cursor: pointer;
}

.btns img {
    width: 36px;
}

.btns .assistir {
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 4px;
}

.btns .minha-lista {
    border: 2px solid white;
    background-color: transparent;
    color: white;
}

.parecidos {
    margin-top: 20px;
}

.textos .titulo, .textos p {
    position: relative;
}

.foto1 {
    position: absolute;
    top: 120px;
    right: 20px;
    width: calc(50vw - 20px);
    height: calc(100vh - 150px);
    background-color: hsl(0, 0%, 7%);
    display: flex;
    justify-content: center;
    z-index: 0;
}

.foto1 .bb {
    width: 90%;
    height: 100%;
    background-image: url("../imgs/ft1.jpg");
    background-size: cover;
    background-position: center center;
    background-color: #111111;
}

.foto1 .bb.a {
    background-image: url(../imgs/ft2.jpg);
}

.foto1 .bb.b {
    background-image: url(../imgs/ft3.jpg);
    background-position: top;
}

.foto1 .bb.c {
    background-image: url(../imgs/ft4.jpg);
    background-position: center right;
}

.foto1 .bb.d {
    background-image: url(../imgs/ft5.jpg);
}

#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 8px solid #111;
    border-top: 8px solid #ff0000;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: fit-content;
    padding-bottom: 30px;
}

.cards a {
    margin-top: 10px;
    color: white;
}

.perfil {
    width: 100px;
    height: 100px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid transparent;
}

.perfil:hover {
    border-color: #eee;
}

.perfil span {
    position: absolute;
    margin-top: 110px;
    white-space: nowrap;
    overflow: hidden;
}

#perfil-1 {
    background-image: url("https://i.pinimg.com/736x/07/a9/10/07a910ec7cd2a67c3dcf8209439f53ae.jpg");
}

#perfil-2 {
    background-image: url("https://i.pinimg.com/564x/db/8e/03/db8e03310a468cb7916ee4185a1390c5.jpg");
}

#perfil-3 {
    background-image: url("https://i.pinimg.com/564x/2c/ec/95/2cec956e5187bfd57245a9aac55f4b4e.jpg");
}

#perfil-4 {
    background-image: url("https://i.pinimg.com/564x/c3/3c/df/c33cdf500d7be00ab0d35dad998cfd65.jpg");
}

#perfil-5 {
    background-image: url("https://i.pinimg.com/564x/5c/07/12/5c0712deb23752b727b59b4a7024d134.jpg");
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 930px) {
    .menu-perfil * {
        display: none;
    }
    .menu-perfil {
        padding: 0;
        width: 25px;
        height: 25px;
        background-image: url("../imgs/menu.png");
        background-size: cover;
        transform: translateX(-20px);
    }
}

@media (max-width: 850px) {
    .esquerda {
        width: 100vw;
    }

    .info {
        margin-top: 190px;
    }

    .foto1 {
        position: absolute;
        top: 120px;
        left: 35px;
        width: calc(100vw - 35px - 35px);
        height: 300px;
        background-color: hsl(0, 0%, 7%);
        display: flex;
        justify-content: center;
        z-index: 0;
    }
    
    .foto1::after {
        content: "";
        width: calc(100vw - 35px - 35px);
        height: 300px;
        position: absolute;
        background-image: linear-gradient(
      0deg,
      #111 0%,
      #111111 13%,
      #111111d5 26%,
      #1111114d 38%,
      #11111100 49%,
      #ffffff00 60%,
      #ffffff00 70%,
      #ffffff00 80%,
      #ffffff00 89%,
      rgba(255, 255, 255, 0) 100%
    );
        z-index: 2;
    }
}

@media (max-width: 725px) {
    nav ul {
        display: none;
    }
}

@media (max-width: 480px) {
    .info {
        width: fit-content;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: flex-start;
    }

    .foto1::after {
        background-image: linear-gradient(transparent);
    }
}

@media (max-width: 530px) {
    .cards {
        margin: auto;
        width: 225px;
    }
}

@media (max-width: 360px) {
    .esquerda {
        padding: 20px;
    }
}
